
*.xml
.idea/ant.xml
.idea/gradle.xml
.idea/misc.xml
out/production/Projekt/sample/sample.fxml
out/production/Projekt/sample/Main.class
out/production/Projekt/sample/Controller.class
.idea/misc.xml
Projekt.iml
Projekt.iml
*.class
/out/
