

/* Category list*/

.list-cell{
    -fx-background-color: #FFD1D1;
    -fx-padding: 10px;
    -fx-border-color: #EFEFEF;
    -fx-border-width: 10 0 0 0;
    -fx-background-insets: 0 20 0 0;
    -fx-font-size: 15px;

    -fx-background-radius: 0 10 10 0;

}

.list-cell:hover{
    -fx-background-color: #c2a1a1;
    -fx-background-insets: 0 10 0 0;
}

.list-cell:selected{
    -fx-background-color: #DC3C3C;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0;

}


/* Toolbar Settings */

.toolbar-background{
    -fx-background-color: #DC3C3C;
}

.toolbar-button{
    -fx-background-color: #FFD1D1;
    -fx-pref-height: 80px;
    -fx-background-radius: 0 10 0 0 ;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

.toolbar-button-selected{
    -fx-background-color: #EFEFEF;
    -fx-pref-height: 100px;
    -fx-background-radius: 0 10 0 0 ;
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.toolbar-button:hover{
    -fx-background-color: #c2a1a1;
    -fx-pref-height: 90px;
}


/* Cart settings*/

.cart{
    -fx-border-width: 0 0 0 3;
    -fx-border-color: black;
    -fx-background-color: #EFEFEF;
}

.cart-button{
    -fx-background-color: #3CDC3C ;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;

    -fx-background-radius: 5px;

    -fx-font-size: 25px;
}

.cart-button:hover{
    -fx-background-color: #2ca32c;
}

.cart-priceText{
    -fx-font-size: 20px;
    -fx-font-weight: bold;

}


/*Shop Item*/

.shop-item-plus-button{
    -fx-background-color: #3CDC3C;
    -fx-background-radius: 0 10 0 0;
}

.shop-item-minus-button{
    -fx-background-color: #DC3C3C;
    -fx-background-radius: 10 0 0 0;
}

.shop-item{
    -fx-background-color: #DDDDDD;
}




.important-element{
    -fx-background-color : #DC3C3C;
    -fx-fill : #DC3C3C;
}

.unimportant-element{
    -fx-fill : #ffd1d1;
    -fx-background-color : #ffd1d1;
    -fx-border-color : #000000
}

.important-button{
    -fx-background-color : #3cdc3c;
    -fx-font-size : 48;
    -fx-text-fill : #000000;
    -fx-border-color : black;
}

.background-element{
    -fx-background-color : #efefef;
    -fx-fill : #efefef;
}
.dark-background-element{
    -fx-background-color : #888888;
}
.grey-background-element{
    -fx-background-color : #DDDDDD;

}



.caution-button{
    -fx-background-color: #9a2a2a;
    -fx-font-size : 36;
    -fx-text-fill : #000000;
    -fx-border-color: black;
}

.caution-button-small{
    -fx-background-color: #9a2a2a;
    -fx-font-size : 18;
    -fx-text-fill : #000000;
    -fx-border-color: black;
}

.caution-button:hover{
    -fx-background-color: #ff8866;
}

.normal-text{
    -fx-font-size: 24;
    -fx-text-fill : #000000;
}

.large-text{
    -fx-font-size : 64;
    -fx-text-fill : #000000;
}

.medium-large-text{
    -fx-font-size: 36;
    -fx-text-fill : #000000;
}

.black-background{
    -fx-background-color: #000000;
}

.sub-item-button {
    -fx-background-color : #DC3C3C;

    -fx-border-radius : 30px 30px 30px 30px;
    -fx-background-radius : 30px 30px 30px 30px;

    -fx-border-color : #000000;
    -fx-font-size : 28;
    -fx-text-fill : #000000;
    -fx-font-weight : bold;
}
.add-item-button {
    -fx-background-color : #3cdc3c;

    -fx-border-radius : 30px 30px 30px 30px;
    -fx-background-radius : 30px 30px 30px 30px;

    -fx-border-color : #000000;
    -fx-font-size : 28;
    -fx-text-fill : #000000;
    -fx-font-weight : bold;
}

