

    /* Category list*/

.list-cell{
    -fx-background-color: #f3b9b7;
    -fx-padding: 10px;
    -fx-border-color: #f4f4f0;
    -fx-border-width: 10 0 0 0;
    -fx-background-insets: 0 20 0 0;
    -fx-font-size: 15px;

    -fx-background-radius: 0 10 10 0;

}

.list-cell:hover{
    -fx-background-color: #c2a1a1;
    -fx-background-insets: 0 10 0 0;
}

.list-cell:selected{
    -fx-background-color: #d22d3e;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0;

}


    /* Toolbar Settings */

.toolbar-background{
    -fx-background-color: #d22d3e;
}

.toolbar-button{
    -fx-background-color: #f3b9b7;
    -fx-pref-height: 80px;
    -fx-background-radius: 0 10 0 0 ;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

.toolbar-button-selected{
    -fx-background-color: #f4f4f0;
    -fx-pref-height: 100px;
    -fx-background-radius: 0 10 0 0 ;
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.toolbar-button:hover{
    -fx-background-color: #c2a1a1;
    -fx-pref-height: 90px;
}
.toolbar-button:pressed{
    -fx-background-color: #ad5858;
    -fx-pref-height: 90px;
}


    /*Shop Item*/

.shop-item-plus-button{
    -fx-background-color: #8ec516;
    -fx-background-radius : 0 10 0 0;
    -fx-border-color : #000000;
    -fx-border-radius : 0 10 0 0;
}

.shop-item-plus-button:hover{
    -fx-background-color: #c9f075;
    -fx-border-width : 2;
}
.shop-item-plus-button:pressed{
    -fx-background-color: #2b9e2b;
    -fx-border-width : 2;
}

.shop-item-minus-button{
    -fx-background-color: #d22d3e;
    -fx-background-radius : 10 0 0 0;
    -fx-border-color : #000000;
    -fx-border-radius : 10 0 0 0;
}

.shop-item-minus-button:hover{
    -fx-background-color: #f58484;
    -fx-border-width : 2;
}
.shop-item-minus-button:pressed{
    -fx-background-color: #a63030;
    -fx-border-width : 2;
}


.shop-item{
    -fx-background-color: #d8d8d0;
}



    /* History Settings*/

/*Accordion*/
.history-accordion-button{
    -fx-background-color: #d22d3e;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.history-accordion-button:hover{
    -fx-background-color: #ba3329;
}

/*History Item*/

.history-item-main-pane{
    -fx-background-color: #d8d8d0;
}

.history-item-small-pane{
    -fx-background-color: white;
}



/*User Page*/

.user-page-button{
    -fx-background-color: #8ec516;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-radius: 0 10 0 0;
}

.user-page-button:hover{
    -fx-background-color: #2da82d;
}

.important-element{
    -fx-background-color : #d22d3e;
    -fx-fill : #d22d3e;
}

.unimportant-element{
    -fx-fill : #f3b9b7;
    -fx-background-color : #f3b9b7;
    -fx-border-color : #000000
}

.important-button{
    -fx-background-radius : 0px 0px 20px 0px;
    -fx-border-radius : 0px 0px 20px 0px;
    -fx-background-color : #8ec516;
    -fx-font-size : 48;
    -fx-text-fill : #000000;
    -fx-border-color : black;
}

.important-button:hover{
    -fx-background-color : #c9f075;
    -fx-font-size : 50;
    -fx-border-width : 2;
}

.important-button:pressed{
        -fx-background-color : #2b9e2b;
        -fx-font-size : 50;
        -fx-border-width : 2;
}

.important-button-small{
    -fx-background-radius : 0px 0px 10px 0px;
    -fx-border-radius : 0px 0px 10px 0px;
    -fx-background-color : #8ec516;
    -fx-font-size : 24;
    -fx-text-fill : #000000;
    -fx-border-color : black;
}

.important-button-small:hover{
    -fx-background-color : #c9f075;
    -fx-font-size : 26;
    -fx-border-width : 2;
}
.important-button-small:pressed{
    -fx-background-color : #2b9e2b;
    -fx-font-size : 26;
    -fx-border-width : 2;
}

.caution-button{
    -fx-background-color: #8e333c;
    -fx-font-size : 36;
    -fx-text-fill : #000000;
    -fx-border-color: black;
    -fx-background-radius : 0px 0px 20px 0px;
    -fx-border-radius : 0px 0px 20px 0px;

}

.caution-button-small{
    -fx-background-color: #8e333c;
    -fx-font-size : 18;
    -fx-text-fill : #000000;
    -fx-border-color: black;
}

.caution-button:hover{
    -fx-background-color: #ff8866;
    -fx-border-width : 2;
}

.caution-button:pressed{
    -fx-background-color: #6e1a1a;
    -fx-border-width : 2;
}

.normal-button{
    -fx-background-color : #f3b9b7;
    -fx-border-color : #000000;
    -fx-background-radius : 0px 0px 10px 0px;
    -fx-border-radius : 0px 0px 10px 0px;
    -fx-font-size : 24;
    -fx-text-fill : #000000;
}

.normal-button:hover{
    -fx-background-color : #ffe3e3;
    -fx-border-width : 2;
}

.normal-button:pressed{
    -fx-background-color : #c48f8f;
    -fx-border-width : 2;
}

.normal-button-selected{
    -fx-background-color : #d22d3e;
    -fx-border-width : 2;
}

.normal-button-selected:hover{
    -fx-background-color: #f58484;
    -fx-border-width : 2;
}


.background-element{
    -fx-background-color : #f4f4f0;
    -fx-fill : #f4f4f0;
}
.dark-background-element{
    -fx-background-color : #605040;
}
.grey-background-element{
    -fx-background-color : #d8d8d0;

}

.green-item{
    -fx-background-color : #8ec516;
    -fx-fill : #8ec516;
    -fx-border-width : 3;
}

.dark-green-item{
    -fx-background-color : #528f3d;
    -fx-fill : #528f3d;
}

.small-text{
    -fx-font-size : 18;
    -fx-font-fill : #000000;
}
.normal-text{
    -fx-font-size: 24;
    -fx-text-fill : #000000;
}

.large-text{
    -fx-font-size : 64;
    -fx-text-fill : #000000;
}

.medium-large-text{
    -fx-font-size: 36;
    -fx-text-fill : #000000;
}

.small-text-field{
    -fx-font-size : 18;
    -fx-text-fill : #000000;

    -fx-background-radius : 5px 5px 5px 5px;
    -fx-border-radius : 5px 5px 5px 5px;
}

.small-text-field:hover{
    -fx-border-width : 2;
    -fx-border-color : #000000;
}

.large-text-field{
    -fx-font-size : 16;
    -fx-text-fill : #000000;

    -fx-background-radius : 5px 5px 5px 5px;
    -fx-border-radius : 5px 5px 5px 5px;
}


.tooltip-style{
    -fx-font-size : 18;
    -fx-text-fill : #FFFFFF;
    -fx-background-color : #605040;
}