

.list-cell{
    -fx-background-color: #FFD1D1;
    -fx-padding: 10px;
    -fx-border-color: #EFEFEF;
    -fx-border-width: 10 0 0 0;
    -fx-background-insets: 0 20 0 0;
    -fx-font-size: 15px;
}

.list-cell:hover{
    -fx-background-color: #c2a1a1;
    -fx-background-insets: 0 10 0 0;
}

.list-cell:selected{
    -fx-background-color: #DC3C3C;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0;

}


/* Toolbar Settings */

.toolbar-background{
    -fx-background-color: #DC3C3C;
}

.toolbar-button{
    -fx-background-color: #FFD1D1;
    -fx-pref-height: 80px;
    -fx-background-radius: 5 5 0 0 ;
    -fx-alignment: center;
    -fx-font-size: 20px;
}

.toolbar-button-selected{
    -fx-background-color: #EFEFEF;
    -fx-pref-height: 100px;
    -fx-background-radius: 5 5 0 0 ;
    -fx-alignment: center;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}




.important-element{
    -fx-background-color : #5ca1ff;
    -fx-fill : #5ca1ff;
}

.important-button{
    -fx-background-color : #5ca1ff;
    -fx-font-size : 48;
    -fx-border-color : black;
}

.unimportant-element{
    -fx-background-color : #ababab;
    -fx-font-size : 36;
    -fx-fill : #ababab;
}

.background-element{
    -fx-background-color : #888888;
}


.caution-button{
    -fx-background-color: #ee5533;
    -fx-font-size : 36;
    -fx-font-color : #000000;
    -fx-border-color: black;
}

.caution-button-small{
    -fx-background-color: #ee5533;
    -fx-font-size : 18;
    -fx-font-color : #000000;
    -fx-border-color: black;
}

.caution-button:hover{
    -fx-background-color: #ff8866;
}

.normal-text{
    -fx-font-size: 24;
    -fx-font-color: #000000;
}

.large-text{
    -fx-font-size: 64;
    -fx-font-color: #000000;
}

.medium-large-text{
    -fx-font-size: 36;
    -fx-font-color: #000000;
}

.black-background{
    -fx-background-color: #000000;
}

